{{- if .Values.recommendations.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ include "zesty-k8s.recommendations.fullname" . }}"
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/instance: "{{ include "zesty-k8s.fullname" . }}"
    app.kubernetes.io/name: "{{ include "zesty-k8s.recommendations.fullname" . }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: "{{ include "zesty-k8s.fullname" . }}"
      app.kubernetes.io/name: "{{ include "zesty-k8s.recommendations.fullname" . }}"
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "{{ .Values.recommendations.http.port }}"
        {{- with .Values.recommendations.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app.kubernetes.io/instance: "{{ include "zesty-k8s.fullname" . }}"
        app.kubernetes.io/name: "{{ include "zesty-k8s.recommendations.fullname" . }}"
        {{- with .Values.recommendations.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: true
      {{- if .Values.global.nodeSelector }}
      nodeSelector:
      {{- toYaml .Values.global.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.global.tolerations }}
      tolerations:
      {{- toYaml .Values.global.tolerations | nindent 8 }}
      {{- end }}
      containers:
        - image: "{{ .Values.recommendations.image.repository }}:{{ .Values.recommendations.image.tag }}"
          imagePullPolicy: {{ .Values.recommendations.image.pullPolicy }}
          name: "{{ include "zesty-k8s.recommendations.fullname" . }}"
          ports:
            - containerPort: {{ .Values.recommendations.http.port }}
              name: http
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /readyz
              port: {{ .Values.recommendations.http.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.recommendations.http.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          {{- with .Values.recommendations.resources }}
          resources:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
          {{- toYaml .Values.recommendations.container.securityContext | nindent 12 }}
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: PROMETHEUS_ENDPOINT
              value: {{ include "zesty-k8s.victoriaMetrics.endpoint" . | quote }}
            - name: AGENT_HOST
              value: {{ .Values.insights.service | quote }}
            {{- include "zesty-k8s.recommendations.coralogix.envs" . | nindent 12 }}
            {{- with .Values.recommendations.extraEnv }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          envFrom:
            - secretRef:
                name: "{{ .Values.insights.secret }}"
      securityContext:
      {{- toYaml .Values.recommendations.securityContext | nindent 8 }}
{{- end }}
