apiVersion: v2
name: kompass-insights
description: Kompass Insights for K8s
type: application
version: 2.1.78
appVersion: "stable"

dependencies:
- name: metrics-server
  condition: metricsServer.enabled
  repository: https://kubernetes-sigs.github.io/metrics-server/
  version: 3.12.1
- name: kompass-admission-controller
  alias: admission
  condition: admission.enabled
  repository: https://zesty-co.github.io/kompass-admission-controller
  version: 0.1.20
