{{- if .Values.cxLogging.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "zesty-k8s.self-monitoring.fullname" . }}-clusterRole
  labels:
    app.kubernetes.io/instance: "{{ include "zesty-k8s.self-monitoring.fullname" . }}
    app.kubernetes.io/name: "{{ include "zesty-k8s.fullname" . }}"
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - nodes
  - nodes/proxy
  - pods
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - secrets
  resourceNames:
  - {{ .Values.insights.secret  }}
  verbs:
  - get
  - list
  - watch
{{- end }}
  
